/* Public stylesheet */

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 15px 20px;
  padding: 0;
  font: 12px Arial,Helvetica,sans-serif;
  color: #000;
}

p {
  font: 12px Arial,Helvetica,sans-serif;
}

a:link, a:visited, a:active {
  text-decoration: none;
  font-weight: bold;
  color: #990033;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #666;
}

.stories {
  vertical-align: top;
  text-align: left;
}

.story_form {
  width: 300px;
  margin: 25px 0 15px 0;
}

.field_with_errors {
  color: red;
  display: table;
}

#error_explanation {
  background-color: #ffffcc;
  display: table;
  padding: 0 10px;
}

#successfully_added {
  background-color: #ccffcc;
  display: table;
  padding: 0 10px;
}

input[type="text"] {
  border: 1px solid #d1d1d1;
  height: 18px;
}

input[type="submit"] {
  border: 1px solid #000;
  height: 22px;
  background: black;
  color: white;
}